body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1863px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u37 {
  position:fixed;
  left:0px;
  top:0px;
  width:1863px;
  height:912px;
}
#u37_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1863px;
  height:912px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1863px;
  height:912px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1863px;
  height:912px;
  display:flex;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-33px;
  width:419px;
  height:784px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:114px;
  width:386px;
  height:751px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-33px;
  width:419px;
  height:784px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:114px;
  width:386px;
  height:751px;
  display:flex;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:798px;
  background:inherit;
  background-color:rgba(48, 48, 48, 1);
  box-sizing:border-box;
  border-width:10px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:49px;
  width:1098px;
  height:798px;
  display:flex;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1863px;
  height:114px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Обычный', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1863px;
  height:114px;
  display:flex;
  font-family:'Comic Sans MS Обычный', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:338px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-88px;
  width:655px;
  height:338px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:10px 10px 10px rgba(236, 128, 141, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(236, 128, 141, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(236, 128, 141, 0.349019607843137);
  font-family:'Aeroblade DEMO', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:28px;
  width:209px;
  height:70px;
  display:flex;
  font-family:'Aeroblade DEMO', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:10px 10px 10px rgba(250, 205, 145, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(250, 205, 145, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(250, 205, 145, 0.349019607843137);
  font-family:'Aeroblade DEMO', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:28px;
  width:209px;
  height:70px;
  display:flex;
  font-family:'Aeroblade DEMO', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:47px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1647px;
  top:16px;
  width:70px;
  height:47px;
  display:flex;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:16px;
  width:50px;
  height:41px;
  display:flex;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:16px;
  width:50px;
  height:41px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1737px;
  top:16px;
  width:50px;
  height:47px;
  display:flex;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:156px;
  width:300px;
  height:44px;
  display:flex;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
}
#u54 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#7F7F7F;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:217px;
  width:565px;
  height:158px;
  display:flex;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#7F7F7F;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
  text-align:right;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:443px;
  width:300px;
  height:44px;
  display:flex;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
  text-align:right;
}
#u56 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#7F7F7F;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:504px;
  width:550px;
  height:82px;
  display:flex;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#7F7F7F;
}
#u57 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:636px;
  width:300px;
  height:44px;
  display:flex;
  font-family:'Merriweather Black', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:900;
  font-style:normal;
}
#u58 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:126px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:695px;
  width:488px;
  height:126px;
  display:flex;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
